<h1>Pizza Time!</h1>

<h2>Customize a new pizza</h2>

<% if @pizza.errors.any? %>
  <ul class="errors">
    <% @pizza.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @pizza do |f| %>
  <div>
    <%= f.label :crust %>
    <%= f.text_field :crust %>
  </div>

  <div>
    <%= f.label :sauce %>
    <%= f.text_field :sauce %>
  </div>

  <div>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <button type="submit">
    Add new pizza
  </button>
<% end %>
