<h1>Pizza Time!</h1>

<h2>Customize a new pizza</h2>

<%= form_for @pizza do |f| %>
  <div>
    <%= f.label :crust %>
    <%= f.text_field :crust %>
  </div>

  <div>
    <%= f.label :sauce %>
    <%= f.text_field :sauce %>
  </div>

  <div>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <button type="submit">
    Add new pizza
  </button>
<% end %>
